.container {
    background-color: whitesmoke;
    border: 0.1px solid black;
    width: 900px;
    height: 900px;
    margin: 2vh auto;
    display: flex;
    flex-wrap: wrap;
}

.reset-button-container {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}